* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 16px;
  margin: 20px;
}
.progress {
  width: 100%;
  background-color: #c9c9c9;
  border-radius: 20px;
  justify-self: center;
}

.progress .value {
  background-color: #7cc4ff;
  display: inline-block;
  height: 100%;
}

#upload-video {
  display: grid;
  justify-content: center;
  text-align: center;
}

#create-btn {
  align-self: center;
  cursor: pointer;
  background-color: rgb(56, 221, 221);
  border-radius: 5px;
  border: none;
  width: 170px;
  height: 40px;
  outline: none;
}

#create-btn:hover {
  box-shadow: 0px 3px 3px grey;
}

.dropbtn {
  background-color: white;
  color: white;

  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes resizee {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
  animation: resizee 0.2s ease-in;
}
